<h1> All Songs & Artists </h1>
<hr>
<% @songs.each do |song| %>
  <div class="song">
    <strong>Song artist:</strong><a href="/songs/<%= song.id %>"><%= song.artist %></a>

    <p>
    <strong>Song title:</strong> <%= song.title %>
    <p>
      <strong>Song URL:</strong> <%= song.url %>
    </p>

    <p>
      <strong>Posted at:</strong> <%= song.created_at %>
    </p>

    <hr>
  </div>
<% end %>

<hr/>
<a href="/songs/new">Post a song... Fo Free!</a>
<hr>